body {
    margin: 0px;
    font-family: "Roboto";
    font-weight: 400;
}

header {
    background-color: #1F2937;
    height: 50px;
}


.header-logo {
    color: white;
    font-weight: bold;
}

.header-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 12;
    margin-left: 15%;
    margin-right: 10%;
}

.links {
    display: flex;
    gap: 12px;
    list-style-type: none;
    font-size: small;
}

a {
    text-decoration: none;
    color: white;
}

.signup-button {
    background-color: #3882f6;
    padding: 5px;
    padding-left: 20px;
    padding-right: 20px;
    border-radius: 8px;
    border: 0;
    color: white;
    font-weight: bold;
}

.top-section {
    background-color: #1F2937;
    height: 250px;
}

.title-container{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: 15%;
    margin-right: 15%;
    gap: 32px;
    margin-bottom: 50px;
}

.title-text {
    flex: 45%;
    color: white;
}

.title-text-title {
    font-size: 32px;
    font-weight: bolder;
    margin-bottom: 0px;
}

.title-text-text {
    margin-top: 0px;
    font-size: small;
}

.title-img {
    background-color: gray;
    flex: 55%;
    height: 150px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    
}

.random-section {
    background-color: white;
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.cards {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 60%;
    gap: 24px;
    margin-bottom: 80px;
    font-size: small;
}

.card {
    border-style: solid;
    color: #3882f6;
    border-radius: 8px;
    width: 100px;
    height: 100px;
}

.quote-section {
    background-color: #E5E7EB;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.quote-text {
    width: 45%;
    margin-bottom: 0;
    font-style: italic;
    font-weight: light;
    margin-top: 64px;
}

.quote-signature {
    margin-top: 0;
    margin-left: 30%;
    margin-bottom: 64px;
    font-weight: bold;
}

.action-section {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 64px;
    margin-bottom: 64px;
}

.action-container {
    background-color: #3882f6;
    width: 60%;
    display: flex;
    align-items: center;
    color: white;
    border-radius: 8px;
    gap: 64px;
    padding: 20px 60px;
    flex: 1 0 1;
}

.action-title {
    font-weight: bold;
    font-size: large;
    margin-bottom: 0;
}

.action-text {
    font-size: small;
    margin-top: 0px;
}

.action-button {
    color: white;
    height: 32px;
    width: 20%;
    background-color: #3882f6;
    border-radius: 8px;
    border-style: solid;
}

footer {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #1F2937;
    color: white;
}